<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="row">
    <div class="col s12 m3">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="col s12 m9">
      <div class="index">
        <center>  
            <h1 style="font-size: 500%;">
                Welcome.
            </h1>
            <br/>
            <h2>
                Choas is inherent 
                <br/>
                in all compounded things.
                <br/>
                Strive on with diligence.
            </h2>    
        </center>
        {% include footer.html %}
      </div>
    </div>
  </div>
  {% include js.html %}
</body>
</html>
