<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body style="font-size: 107%;">
  <div class="row">
    <div class="col s12 m3">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="col s12 m9">
      <div class="index">
        <center>  
            <h1 style="font-size: 500%;">
                Hello All.
            </h1>
            <br/><br/><br/>
            <h2>
              Stop completing
              <br/>
              Start living
              <br/>
              
            </h2>  
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <!--    -->
        </center>
        <div stlye="margin-bottom: 0; margin-top: auto;">
            {% include footer.html %}
        </div>
      </div>
    </div>
  </div>
  {% include js.html %}
</body>
</html>
